page-requisition-detail {
    .buttond{
        background-color: rgb(255, 255, 255);
    }

    .buttond:active{
        background-color: rgb(155, 221, 238)
    }
    

    .check{
        margin-top: 5px;
    }

}
