// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.iconm{
    font-size: 1.5rem;
    color:#3898f9;
}
.eyeIcon{
    font-size: 2.5rem;
    color: rgb(26, 171, 197)
}
.trashIcon{
    font-size: 2.5rem;
    color: rgb(228, 49, 49)
}
.starIcon{
    font-size: 2.5rem;
    color:#ffb500;
    position: relative;
}

.createIcon{
    font-size: 2.5rem;
    color: rgb(26, 171, 197)
}
.editIcon{
    font-size: 2.5rem;
    color: rgb(73, 180, 118)
}

.buttonIcon{
    border: none;
	background-color:rgb(252, 250, 250);
	transition: all 500ms ease; 
    
}
.buttonIcon:hover{
    background: rgb(185, 228, 248);
}


button:hover {

    background-color: rgb(172, 217, 228);
}

ion-title{   
    margin-right: 48px;
    text-align: center;
    font-family: emmasophia;
    margin-bottom: -10px;
    line-height: 48px;
    *{
    font-size: 1.5rem !important; 
    }
}

    
