page-list-requisitions {   
    .buttonf{
        color: rgba(158, 158, 158, 0.2);
        text-align: center;
        .iconf{
            
            font-size: 4rem;
            color: #76768e;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }
        
        .iconf:hover {
            color: #3898f9; 
            
        }
        .iconf:active {
            color: #3898f9; 
        } 

    }

    .buttonf:hover{
        background-color:  rgb(252, 250, 250);
    }
    

   
}
