<!--
  Generated template for the ListRequisitionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>Mis Solicitudes</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-label color='primary' padding > Desliza a la izquierda para mas opciones </ion-label>
  <ion-fab bottom right>
  <button ion-fab color="primary"  (click)="addRequisition()" ><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-list>

    <ion-item-sliding *ngFor="let item of getList()">
      <ion-item >
              <h2> {{ item.title }} </h2>
              <p color='text'> {{item.date | date: 'd MMM' }} </p>

              <ion-icon name="star" class="starIcon" *ngIf="item.priority == true" item-end> </ion-icon>
            
        
      </ion-item>
      <ion-item-options  side="right">
        <button style="border-left: 2px solid gray " class="buttonIcon" ion-button clear (click)="openRequisition(item)">
          <ion-icon class="eyeIcon" name="eye"> </ion-icon>
        </button>
        <button class="buttonIcon" ion-button clear (click)="editRequisition(item)">
          <ion-icon class="editIcon" name="create"> </ion-icon>
        </button>
        <button class="buttonIcon" ion-button clear (click)="deleteRequisition(item)">
          <ion-icon class="trashIcon" name="trash"> </ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col text-center col-4>
        <button class="buttonf" ion-button clear (click)="changeFilter('today')">
          <ion-icon class="iconf" name="clock"> </ion-icon>
        </button>
      </ion-col>
      <ion-col text-center col-4>
        <button class="buttonf" ion-button clear (click)="changeFilter('tomorrow')">
          <ion-icon class="iconf" name="partly-sunny"> </ion-icon>
        </button>
        
      </ion-col>
      <ion-col text-center col-4>
        <button class="buttonf" ion-button clear (click)="changeFilter('other')">
          <ion-icon class="iconf" name="calendar"> </ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>